<ul>
	<% @topics.each do |topic| %>
		<% unless topic.images.blank? %>
		<hr/>
			标题：<%= topic.title %>， 作者：<%= topic.user.nickname %>， 分类：<%= topic.node.name %>
			<p>
			<% topic.images.each_with_index do |img, index| %>
				<li style="display:inline-block">
					<div style="width:150px;height:150px">
						<%= image_tag img %>
						
							<%= link_to "#{ Nicepicture.find_by_url(img).nil? ? '加入首页' : '移出首页'}", select_image_admin_topic_path(:url => img, :id => topic.id), :remote => true %>
					</div>
				</li>
			<% end %>
			</p>
		<% end %>
	<% end %>
</ul>

<%= paginate @topics %>