<% content_for :final_head do %>
	<style type="text/css">
	.Collage{
    padding:2px;
	}

.Collage img{
    vertical-align:bottom;
    opactiy:0;
    }
	</style>
<% end %>

<% content_for :tail do %>
	<%= javascript_include_tag "jquery.collagePlus.min" %>
	<%= javascript_include_tag "jquery.removeWhitespace.min" %>
	<%= javascript_include_tag "jquery.collageCaption.min" %>

	<script type="text/javascript">
		$(window).load(function () {
      $(document).ready(function(){
        collage();
        $('.Collage').collageCaption();
    	});
    });


    // Here we apply the actual CollagePlus plugin
    function collage() {
      $('.Collage').removeWhitespace().collagePlus(
        {
          'fadeSpeed'     : 100,
          'targetHeight'  : 200
        }
      );
    };

    // This is just for the case that the browser window is resized
    var resizeTimer = null;
    $(window).bind('resize', function() {
      // hide all the images until we resize them
      $('.Collage .Image_Wrapper').css("opacity", 0);
      // set a timer to re-apply the plugin
      if (resizeTimer) clearTimeout(resizeTimer);
      resizeTimer = setTimeout(collage, 200);
    });
	</script>  
<% end %>


<% content_for :nav do %>
	<ul class="photoNav">
		<li><a class="content_nav_f" href="/">全部</a></li>
		<li><a href="/">风光</a></li>
		<li><a href="/">纪实</a></li>
		<li><a href="/">商业</a></li>
		<li><a href="/">人像</a></li>
		<li><a href="/">花卉</a></li>
		<li><a href="/">创意</a></li>
	</ul>
<% end %>
<%= render 'topics/fullscreen' %>
<div class="Collage topic_content">
	<% (1..73).each do |i|%>
		<%= image_tag "demo/#{i}.jpg"%>
	<% end %>
</div>
		
